.mainDiv {
    position: relative;
    background: #ffffff;
    /* margin-top: 77px; Removed to fix white space after static header */
}

.topBanner {
    background: transparent;
    box-shadow: none;
}

.main-heading {
    font-size: 60px;
}

.section-heading {
    font-size: 48px;
}

.main-heading,
.section-heading {
    font-weight: 600;
}

.text-black {
    color: blcak;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

.nav-item .nav-link {
    color: black;
    font-family: 'Inter', sans-serif;
}

.nav-item:hover .nav-link:hover {
    color: black;
}

.mainPicture {
    background-image: url("../Resources/cover.png");
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 600px;
}

.contactUsBanner {
    background-image: url("../Resources/contact.png");
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 600px;
}

.aboutUsBanner {
    background-image: url("../Resources/about.png");
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 600px;
}


.mainPicture::before {
    content: '';
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    /* background-color: #000000; */
    opacity: 0.6;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}


.imageText {
    color: #ffffff;
    position: relative;
    z-index: 2;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.serviceTile {
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
    padding: 10px;
    height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolioTile {
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
    padding: 10px;
    height: 250px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.serviceTile:hover {
    background-color: #707070;
    transition: all 0.6s ease-in-out !important;
}

.portfolioTile:hover {
    transition: all 0.6s ease-in-out !important;
    transform: scale(1.05);
}


.explainingText,
.portfolioText {
    display: none;
    color: #ffffff;
}

.portfolioText {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: #707070;
    opacity: .8;
    border-radius: 30px;
    justify-content: center;
}



.serviceTile .serviceTileContent .serviceTileContentImg {
    width: 100px;
}

.serviceTile .serviceTileContent .serviceTileContentHeading {
    font-size: 24px;
}

.serviceTile:hover .explainingText {
    display: block;
}

.serviceTile:hover .serviceTileContent {
    display: none;
}

.portfolioTile:hover .portfolioText {
    display: block;
}


/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.footer-wrap {
    background-color: #2D2D2D;
}

.footer-wrap .logo {
    height: 50px;
}

.footer-wrap hr {
    opacity: 1 !important;
    color: white !important;
}

.contactUsTileContent:hover {
    background-color: #707070;
    transition: all 0.6s ease-in-out !important;
    color: white;
}

.contactUsTile {
    height: 400px !important;
}

.contactUsTileContent:hover svg path {
    fill: white !important;
    transition: all 0.6s ease-in-out !important;
}


.visionDiv {
    background: url("../Resources/vision.png") top center no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    height: 550px;
    position: relative;
}

.missionDiv {
    background: url("../Resources/mission.png") top center no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    height: 550px;
    position: relative;
}

.missionText {
    position: absolute;
    top: 42%;
    left: 28%;
    width: 45%;
    font-size: 18px;
}

.vissionText {
    position: absolute;
    top: 42%;
    left: 30%;
    width: 40%;
    font-size: 18px;
}

.whoWeAreText {
    margin-left: 1.5rem !important;
    margin-top: 3rem !important;
}

.portfolioImgDiv {
    width: 100%;
    height: 100%;
    position: absolute;
}

.portfolioImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 320px) {

    /* smartphones, iPhone, portrait 480x320 phones */
    .aboutUsImg {
        margin-bottom: 20px;
    }

    .vissionText {
        position: absolute;
        top: 42%;
        left: 22%;
        width: 55%;
        font-size: 18px;
    }

    .missionText {
        position: absolute;
        top: 42%;
        left: 22%;
        width: 55%;
        font-size: 18px;
    }

    .whoWeAreText {
        margin-left: 0 !important;
        margin-top: 3rem !important;
    }
}


@media (min-width: 481px) {

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .aboutUsImg {
        margin-bottom: 20px;
    }

    .missionText {
        position: absolute;
        top: 42%;
        left: 28%;
        width: 45%;
        font-size: 18px;
    }

    .vissionText {
        position: absolute;
        top: 42%;
        left: 30%;
        width: 40%;
        font-size: 18px;
    }

    .whoWeAreText {
        margin-left: 0 !important;
        margin-top: 3rem !important;
    }
}

@media (min-width: 641px) {

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .aboutUsImg {
        margin-bottom: 20px;
    }

    .missionText {
        position: absolute;
        top: 42%;
        left: 28%;
        width: 45%;
        font-size: 18px;
    }

    .vissionText {
        position: absolute;
        top: 42%;
        left: 30%;
        width: 40%;
        font-size: 18px;
    }

    .whoWeAreText {
        margin-left: 1.5rem !important;
        margin-top: 3rem !important;
    }

}

@media (min-width: 961px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .customer-logos-wrap {
        position: relative;
    }

    .customer-logos-wrap:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 2px;
        height: 100%;
        background-color: #000000;
    }

    .aboutUsImg {
        height: 500px !important;
    }

    .missionText {
        position: absolute;
        top: 42%;
        left: 28%;
        width: 45%;
        font-size: 18px;
    }

    .vissionText {
        position: absolute;
        top: 42%;
        left: 30%;
        width: 40%;
        font-size: 18px;
    }

    .whoWeAreText {
        margin-left: 1.5rem !important;
        margin-top: 3rem !important;
    }

}

@media (min-width: 1025px) {

    /* big landscape tablets, laptops, and desktops */
    .aboutUsImg {
        height: 500px !important;
    }

    .missionText {
        position: absolute;
        top: 42%;
        left: 28%;
        width: 45%;
        font-size: 18px;
    }

    .vissionText {
        position: absolute;
        top: 42%;
        left: 30%;
        width: 40%;
        font-size: 18px;
    }

    .whoWeAreText {
        margin-left: 1.5rem !important;
        margin-top: 3rem !important;
    }
}

@media (min-width: 1281px) {

    /* hi-res laptops and desktops */
    .aboutUsImg {
        height: 500px !important;
    }

    .missionText {
        position: absolute;
        top: 42%;
        left: 28%;
        width: 45%;
        font-size: 18px;
    }

    .vissionText {
        position: absolute;
        top: 42%;
        left: 30%;
        width: 40%;
        font-size: 18px;
    }

    .whoWeAreText {
        margin-left: 1.5rem !important;
        margin-top: 3rem !important;
    }
}